<manifest package="com.sir.app.autolayout">
    <!--设计UI的尺寸<application>
        <meta-data
            android:name="design_width"
            android:value="768"></meta-data>

        <meta-data
            android:name="design_height"
            android:value="1280"></meta-data>
    </application>-->
</manifest>
